@import "../../game.page.scss";

.container {
    background: #236326;
    padding: calcW(16) calcW(32);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;

    & > * {
        width: 100%;
        margin: 0px auto;

        & + * {
            margin-top: calcW(10);
        }
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin: auto;

    a {

        vertical-align: middle;
        ion-icon {
            font-size: 24px;
            // display: block;
            // margin-top: auto;
            // margin-bottom: auto;
        }
    }

    ion-button {
        --background: #FCC13D;
        --border-radius: 100px;
        --box-shadow: 0px 5px 0px #E39F08;
    }
}

.avatar {
    width: calcW(85);
    height: calcW(85);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    .avatar-img {
        display: block;
        padding-top: calcW(5);
        background-color: transparent;
        margin-top: auto;
        height: 100%;
        width: 100%;
    }
    
}

.player-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
        // border: 2px solid black;
        border-radius: 50%;
        background: #FFF6C8;

        .avatar-img {
            border-radius: 50%;
        }
    }
    
    ion-input {
        margin-top: calcW(10);
        height: calcH(36);
        border-radius: calcH(18);
        --placeholder-color: black;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        background-color: #ffffff;
    }
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, calcW(85));
    grid-template-rows: repeat(4, calcW(85));
    gap: calcW(20);

    .avatar-box {
        background: rgba(255, 239, 95, 0.13);
        border-radius: calcH(15);
    }
}