<ion-content class="content">

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h2>Segunda à Sábado</h2>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>07h30 às 09h00</ion-card-subtitle>
            <p class="ma-body2">
                Centro comercial (Av. Lauro Célio da Silva, Praça Pe. Julio Maria, Av. Agenor Carlos Werner, Av. Raul
                Soares, Av. Teófilo Tostes e Av. JK)
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h2>Terças e Quintas</h2>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>09h00 às 11h30</ion-card-subtitle>
            <p class="ma-body2">
                Nossa Senhora Aparecida e Roque
            </p>
        </ion-card-content>
        <ion-card-content>
            <ion-card-subtitle>13h00 as 16h30</ion-card-subtitle>
            <p class="ma-body2">
                Cidade Jardim, Nossa Senhora de Lourdes, Isidoro, Santa Rita e Divinéia
            </p>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h2>Quartas e Sextas</h2>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>08h00 às 11h30</ion-card-subtitle>
            <p class="ma-body2">
                Centro comercial e residencial, São Vicente e Santo Antônio
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>