$pevs: #6B89B6;
$secondary-light: #43B448;
$secondary-dark: #106A14;

$primary: #FAFAFA;
$branco: #FFFFFF;
$primary-dark: #C7C7C7;

$preto: #333333;
$cinza-medio: #999999;
$cinza-escuro: #666666;

$cooperativa: #C0AB60;
$parque: #94B64C;
$praca: #48A99D;
$lixeira: #937C9D;
 
:root {
    --ma-colors-primary-dark: #{$primary-dark};
}