<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <div class="center-button">

        <ion-icon slot="start" name="copy"></ion-icon>
        <ion-label class="ma-caption">
          Copiar
        </ion-label>
      </div>

    </ion-button>
    <ion-button>
      <div class="center-button">

        <ion-icon slot="start" name="download"></ion-icon>
        <ion-label class="ma-caption">
          Download
        </ion-label>

      </div>
    </ion-button>
    <ion-button>

      <div class="center-button">
        <ion-icon slot="start" name="share"></ion-icon>
        <ion-label class="ma-caption">

          Compartilhar
        </ion-label>
      </div>

    </ion-button>
  </ion-buttons>
</ion-toolbar>