<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    <ion-title>Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="dicas2">
        <ion-label>Dicas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="curiosidades">
        <ion-label>Curiosidades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<router-outlet></router-outlet>